



#header {
    background-image: url("../../images/background.jpg");
}

/* FAQ */

#FAQ h2
{
    text-align: center;
}

/* Schedule */
.col-wrapper
{
    height: 300px;
    color: #7d5ba6;
}

h1, h2, h3, h4, h5, h6 {
    color:  #7d5ba6;

}

@media screen and (min-width: 340px) {
    .schedule-item p {
        display: inline-block;
    }
}


.schedule-item {
    text-align: left;
    margin-top: 0.5em;
}

.schedule-note {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.5em;
}

.schedule-day {
    text-align: center;
    color: white;
}

.time {
    color: #7d5ba6 !important;
    width: 50%;
}

nav {
    display: none;
}

nav#nav {
    display: block;
}

#history-p {
    margin: 0 auto;
    width: 35em;
}

@media screen and (max-width: 980px) {
    .question article {
        width: 100%;
    }
    .col-md-6 {
        width: 100%;
    }
    #schedule {
        height: 825px;
    }
    .wrapper:before {
        top: -4.75em;
    }
    .wrapper:before, .wrapper:after {
        height: 4.91em;
    }
    p, li {
        font-size: 1.75em !important;
    }
    h3 {
        font-size: 2em;
    }
    #history-p {
        width: 30em;
    }


}

.question {
    color: #7d5ba6;
}

header > p {
    margin: 1em 0 1em 0;
}

@media screen and (max-width: 32em) {
    .bronze-sponsor {
        max-width: 50%;
    }
    .silver-sponsor {
        max-width: 60%;
    }
    .gold-sponsor {
        max-width: 70%;
    }
    .platinum-sponsor {
        max-width: 85%;
    }
}

@media screen and (min-width:32em) {
    .bronze-sponsor {
        max-width: 20em;
    }
    .silver-sponsor {
        max-width: 26em;
    }
    .gold-sponsor {
        max-width: 30em;
    }
    .platinum-sponsor {
        max-width: 40em;
    }
}


.bronze-sponsor {
    max-height: 5em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    vertical-align: middle;
    margin-bottom: 2em;
}

.silver-sponsor {
    max-height: 8em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    vertical-align: middle;
    margin-bottom: 2em;

}

.gold-sponsor {
    max-height: 9em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    vertical-align: middle;
    margin-bottom: 5em;

}

.platinum-sponsor {
    max-height: 25em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    vertical-align: middle;
    margin-bottom: 4em;
    width: 200%;
    height: auto;

}
#google {
    margin-top: 5em;
}

.sponsor-wrapper {
    display:block;
    text-align: center;
}

.sponsor-wrapper a {
    text-decoration: none;
    border-bottom: none;
}

.sponsor-wrapper img {
    display: inline-block;
}

header > p {
    font-size: 1.25em;
    text-align: left;
}

#features p {
    line-height: 40px;
}
#wrapper p {
    text-align: left;
}

#date {
    text-align: center;
    font-size: 1.75em !important;
}

#platinum-banner {
    text-align: center;
}

#mlh-trust-badge {
    display: inline-block;
    max-width: 100px;
    min-width: 60px;
    top: 0;
    width: 10vw;
    z-index: 10000;
    padding: 0em;
    margin-right: 50px;
    border-bottom: none;
}

#nav li {
    vertical-align: top;
    font-size: 1.5em;
    margin: 0 !important;
}

.apply-button {
    background-color:  #7d5ba6 !important;
    border-color:  #7d5ba6 !important;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}

.large-button {
    margin-right: 25px;
    margin-left: 25px;
    color: white;
    font-size: 1.3em;
    vertical-align: middle;
}

@media screen and (min-width: 768px) {
.large-button {
    width: 25%;
    min-width: 125px;
    max-width: 150px;
}
}

@media only screen and (max-width: 767px) and (orientation: portrait), only screen and (min-width: 768px) {
.large-button {
    margin-bottom: 30px;
    font-size: 1.2em;
    padding: 0.3em;
}
}

