



#header {
    background-image: url("../../images/background.jpg");
}

/* FAQ */

#FAQ h2
{
    text-align: center;
}

/* Schedule */
.col-wrapper
{
    height: 300px;
    color: #7d5ba6;
}

h1, h2, h3, h4, h5, h6 {
    color:  #7d5ba6;

}

@media screen and (min-width: 340px) {
    .schedule-item p {
        display: inline-block;
    }
}


.schedule-item {
    text-align: left;
    margin-top: 0.5em;
}

.schedule-note {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.5em;
}

.schedule-day {
    text-align: center;
    color: white;
}

.time {
    color: #7d5ba6 !important;
    width: 50%;
}

nav {
    display: none;
}

nav#nav {
    display: block;
}

#history-p {
    margin: 0 auto;
    width: 35em;
}

@media screen and (max-width: 980px) {
    .question article {
        width: 100%;
    }
    .col-md-6 {
        width: 100%;
    }
    #schedule {
        height: 825px;
    }
    .wrapper:before {
        top: -4.75em;
    }
    .wrapper:before, .wrapper:after {
        height: 4.91em;
    }
    p, li {
        font-size: 1.75em !important;
    }
    h3 {
        font-size: 2em;
    }
    #history-p {
        width: 30em;
    }


}

.question {
    color: #7d5ba6;
}

header > p {
    margin: 1em 0 1em 0;
}

@media screen and (max-width: 32em) {
    .bronze-sponsor {
        max-width: 50%;
    }
    .silver-sponsor {
        max-width: 60%;
    }
    .gold-sponsor {
        max-width: 70%;
    }
    #google {
        max-width: 47%;
    }
}

@media screen and (min-width:32em) {
    .bronze-sponsor {
        max-width: 20em;
    }
    .silver-sponsor {
        max-width: 26em;
    }
    .gold-sponsor {
        max-width: 30em;
    }
    #google {
        max-width: 19em;
    }
}


.bronze-sponsor {
    max-height: 5em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    vertical-align: middle;
    margin-bottom: 2em;
}

.silver-sponsor {
    max-height: 8em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    vertical-align: middle;
    margin-bottom: 2em;

}

.gold-sponsor {
    max-height: 9em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    vertical-align: middle;
    margin-bottom: 5em;

}
#google {
    margin-top: 5em;
}

.sponsor-wrapper {
    display:block;
    text-align: center;
}

.sponsor-wrapper a {
    text-decoration: none;
    border-bottom: none;
}

.sponsor-wrapper img {
    display: inline-block;
}

header > p {
    font-size: 1.25em;
    text-align: left;
}

#features p {
    line-height: 40px;
}
#wrapper p {
    text-align: left;
}

#date {
    text-align: center;
}

#mlh-trust-badge {
    display: inline-block;
    max-width: 100px;
    min-width: 60px;
    top: 0;
    width: 10vw;
    z-index: 10000;
    padding: 0em;
    margin-right: 50px;
    border-bottom: none;
}

#nav li {
    vertical-align: top;
    font-size: 1.5em;
    margin: 0 !important;
}